
body{
  margin-top: 70px;
  background: #f3f9fe;
}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

/* Textarea not resizeable */
textarea {
  resize:none
}
section{
  min-height: 100px;
}
/* styling footer */
footer p{
  text-align: center;
  padding-top: 10px;
}

/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {
  #input-list form {
      width: 290px;
  }
}

#input-list{
  background: linear-gradient(to bottom right, #FFFFFF, #FFFFFF);
}
#input-list form{
  width: auto;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  padding-bottom: 5px;
  box-sizing: border-box;
  position: relative;
}
.comment-section{
  margin-left: 400px;
}
.big-container{
  max-width: 1300px;
  position: relative;
  margin: auto;
  border: 2px solid #e2e2e2;
  border-top: 0px;
  border-bottom: 0px;
}
#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#input-list form > .comment-form-input, #input-list form > .comment-form-textarea{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#timeline{
  background: white;
}
#timeline .timeline-title{
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}
.to-do-list{
  text-align: center;
  background: #fff;
  /*position: relative;*/
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.to-do-list:after{
    content:"";
    display:block;
    height: 0px; /* Which is the padding of div.container */
    background: #fff;
}

.flex{
  display: flex;
  flex-direction: column-reverse; /*ini bikin contentnya kebalik (newest base)*/
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}

.col-xs-10{
  padding-left: 0px;
}
.flex-item{
  border: 1px solid #e2e2e2;
  padding-bottom: 30px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  width: -webkit-fill-available;
  margin: 0px 80px 20px 20px;
  padding: 0 15px;
  flex : 0 0 auto;
}
.to-do-list .to-do-list-date-added {
  font-size: 8px;
  padding: 0px 25px 10px 25px;
  text-align: left;
}
.to-do-list .to-do

.to-do-list .to-do-list-date-added .comment #comment {
  display: inline;
  text-transform: uppercase;
  text-align: right;
}
.to-do-list .to-do-list-description {
  padding: 10px 25px;
  z-index: 15;
  background: #fff;
  height: 125px;
  text-align: justify;
  overflow: auto;
}
.to-do-list .to-do-list-name {
  font-size: 19px;
  padding: 5px 25px 0px 25px;
  text-align: justify;
}
#submit{
  width: 140px;
}
#title{
  left: 150px;
  font-size: 350%;
  max-width: 1400px;
  position: relative;
  margin: auto;
  /*border: 1px solid transparent;*/
  border-top: 0px;
  border-bottom: 0px;
}
.container-judul{
  max-width: 1300px;
  position: relative;
  background: white;
  margin: auto;
  border-top: 0px;
  border-bottom: 0px;
  padding-top: 100px;
}
.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0px;
}

.btn {
  display: block;
  padding: 0.5em 1em;
  background: #4d78bc;
  color: #fff;
  border: 1px solid #fff;
  outline: 0;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-appearance: none;
}
.btn:hover {
  background: #fff;
  color: #da513d;
}
.modal {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.modal__box {
  padding: 1em;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
  -webkit-transform: rotate(5deg) translate(-1em, 1em);
          transform: rotate(5deg) translate(-1em, 1em);
  border-top: 5px solid #4d78bc;;
  border-bottom: 5px solid #ddd;
}
/* modal magic */
.btn:focus + .modal {
  opacity: 1;
  visibility: visible;
}
.btn:focus + .modal .modal__box {
  -webkit-transform: rotate(0deg) translate(0, 0);
          transform: rotate(0deg) translate(0, 0);
}

/*#photo{
  border-radius: 50%;
}*/
/*.flex-item .to-do-list .photo{
  display: inline;
  border: 1px solid black;
  border-radius: 50%;
}*/
@media only screen and (max-width: 768px) {
  #input-list form {
      width: 450px;
  }
  .flex{
    flex-basis: auto;
    width: 100%
  }
  .flex-item{
    width: 100%;
    flex: 0 0 100%;
  }
  .img{
    width: 60px;
    height: 60px;
  }

}
