{% load staticfiles %}
{% load static %}
<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Papow Sejahtera</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--For Plugins external css-->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!--Theme custom css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/app_homepage.css' %}" />
		<script type="text/javascript" src="//platform.linkedin.com/in.js">
			api_key: 81wr96jmvgligh
			authorize: true
			onLoad: onLinkedInLoad
		</script>
    </head>
	
    <body>
		<!-- Header -->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
						<img src="http://thelinkmarketing.ie/wp-content/uploads/2016/10/logo-copy.png" alt="logo" height="40" width="100"/>
					</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#features">Profile</a></li>
                        <li><a href="#contact">Forum</a></li>
                        <li class="login" id="login-btn"><a id="login-text" href="#">Sign In</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

		<!--Disini!-->
        <script type="in/Login"></script>
		
        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-brand">
                                <img src="http://thelinkmarketing.ie/wp-content/uploads/2016/10/logo-copy.png" alt="logo" height="40" width="100"/>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="author">
                                <p>Made with Love</i> by Team Papow</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
		
		<!-- The Modal -->
		<div id="myModal" class="modal">
			<!-- Modal content -->
			<form class="modal-content animate" action="/action_page.php">
			<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
			</form>
            <div align="center"><script type="in/Login"></script></div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{% static 'js/app_homepage.js' %}"></script>
    </body>
	
</html>